#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body
{
    background: linear-gradient(315deg, rgba(143,254,120,1) 20%, rgba(118,255,165,1) 24%, rgba(42,255,161,1) 27%, rgba(121,240,255,1) 49%, rgba(70,92,255,1) 78%, rgba(85,90,255,1) 86%, rgba(70,90,247,1) 91%);
}